<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>后台管理系统</title>
<link rel="stylesheet" href="__ROOT__/Public/css/style.css">
<link rel="stylesheet" href="__ROOT__/Public/css/jquery.wysiwyg.old-school.css">

<!-- jQuery AND jQueryUI -->
<script type="text/javascript" src="__ROOT__/Public/js/jquery.min.js"></script>
<script type="text/javascript" src="__ROOT__/Public/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="__ROOT__/Public/js/min.js"></script>
<script type="text/javascript" src="__ROOT__/Public/js/main.js"></script>
<link rel="stylesheet" href="__ROOT__/Public/css/style2.css">
<!--<script type="text/javascript" src="js/index.js"></script>-->
</head>

<body>
<!--      左侧菜单     -->
<div id="sidebar">
		<ul>
				<li><a><img src="__ROOT__/Public/images/layout.png" alt="">APP导航管理</a>
						<ul>
								<!-- <li><a href="pinpai/pinpai.html">品牌管理</a></li> -->
								<li><a href="__CONTROLLER__/one_menu" target="right">分类管理</a></li>
								<li><a href="__CONTROLLER__/product" target="right">产品介绍管理</a></li>
								<li><a href="__CONTROLLER__/example" target="right">工程案例管理</a></li>
								<li><a href="__CONTROLLER__/computer" target="right">应用领域管理</a></li>
								<li><a href="__CONTROLLER__/company" target="right">企业简介管理</a></li>
								<li><a href="__CONTROLLER__/ours" target="right">联系我们管理</a></li>
								<li><a href="__CONTROLLER__/zz" target="right">公司资质管理</a></li>
								
						</ul>
				</li>
				<li><a><img src="__ROOT__/Public/images/comment.png" alt="">PC导航管理</a>
						<ul>

							    <li><a href="__CONTROLLER__/sylb" target="right">首页列表管理</a></li>
							    <li><a href="__CONTROLLER__/xtyy" target="right">首页系统应用</a></li>
							    <li><a href="__CONTROLLER__/gsjj" target="right">公司简介</a></li>
								<li><a href="__CONTROLLER__/product" target="right">产品介绍管理</a></li>
								<li><a href="__CONTROLLER__/example" target="right">工程案例管理</a></li>
								<li><a href="__CONTROLLER__/computer" target="right">应用领域管理</a></li>
								<li><a href="__CONTROLLER__/company" target="right">企业简介管理</a></li>
								<li><a href="__CONTROLLER__/ours" target="right">联系我们管理</a></li>
								<li><a href="__CONTROLLER__/zz" target="right">公司资质管理</a></li>
								
						</ul>
				</li>
				<li><a><img src="__ROOT__/Public/images/brush.png" alt="">管理员信息</a> 
						<ul>
								<li><a  href="__CONTROLLER__/admin_update" target="right">修改密码</a></li>
						</ul>
				</li>
<!-- 				<li><a><img src="__ROOT__/Public/images/comment.png" alt="">用车指南</a> 
						<ul>
								<li><a href="guide/lamp.html" target="right">故障灯管理</a></li>
								<li><a href="guide/lectureHall.html" target="right">爱车讲堂</a></li>
								<li><a href="guide/guide.html" target="right">用车指南</a></li>
						</ul>
				</li>
				
				<li><a><img src="__ROOT__/Public/images/brush.png" alt="">促销信息</a> 
						<ul>
								<li><a  href="information/promotion.html" target="right">促销信息</a></li>
						</ul>
				</li>
				<li><a><img src="__ROOT__/Public/images/huser.png" alt=""> 客户管理</a>
						<ul>
								<li><a href="customer/customer.html" target="right">客户管理</a></li>
								<li><a href="customer/order_records.html" target="right">预约记录</a></li>
								<li><a href="customer/rescue_records.html" target="right">救援记录</a></li>
						</ul>
				</li>
				<li><a><img src="__ROOT__/Public/images/lab.png" alt="">统计查询</a>
						<ul>
								<li><a href="tongji/drive_amout.html" target="right">试驾量统计</a></li>
								<li><a href="tongji/keep_amout.html" target="right">保养量统计</a></li>
								<li><a href="tongji/rescue_amout.html" target="right">救援量统计</a></li>
								<li><a href="tongji/access_amout.html" target="right">访问量统计</a></li>
						</ul>
				</li> -->
				
		</ul>
</div>
</body>
</html>